## PNPM related ###############
## https://pnpm.io/npmrc      #
###############################

# Pinlock to exact version (default is '^')
# https://pnpm.io/npmrc#save-prefix
# see also how save-workspace-protocol affect this https://pnpm.io/npmrc#save-workspace-protocol
save-prefix=''

# Automatically install peer dependencies
# https://pnpm.io/npmrc#auto-install-peers
auto-install-peers=true

## Security Configuration #####

# Wait 3 days before using newly published packages
# This gives the security community time to detect and remove malicious releases
# https://pnpm.io/npmrc#package-import-method
minimumReleaseAge=3d
