@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Inter V";
	font-weight: 100 900;
	font-style: normal;
	font-display: block;
	src: url("/fonts/Inter-V.var.woff2") format("woff2");

	font-named-instance: "Regular";
}

/* adding col class becasue tailind dynamic col class are not working for some reason */
.columns-1 {
	columns: 1;
}

.columns-2 {
	columns: 2;
}

.columns-3 {
	columns: 3;
}

.columns-4 {
	columns: 4;
}

.columns-5 {
	columns: 5;
}

body {
	@apply overflow-hidden antialiased outline-none;

	font-variation-settings: "opsz" 20;
}

main {
	height: calc(100vh - 48.5px);
}

.my-masonry-grid {
	display: -webkit-box; /* Not needed if autoprefixing */
	display: flexbox; /* Not needed if autoprefixing */
	display: flex;

	width: auto;
	margin-left: -30px; /* gutter size offset */
}

.my-masonry-grid_column {
	padding-left: 30px; /* gutter size */
	background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
	margin-bottom: 30px;

	/* change div to reference your elements you put in <Masonry> */
	background: grey;
}

/* for side pane options menu being cut after it passed side pane width */
.allotment-module_splitView__L-yRc
	> .allotment-module_splitViewContainer__rQnVa
	> .allotment-module_splitViewView__MGZ6O {
	overflow: unset !important;
}

.sash-module_sash__K-9lB::before {
	background: unset !important;
}

/* slider */

.chakra-slider-group {
	position: relative;
	display: flex;
	width: 100%;
}

.chakra-slider-group .slider-label {
	display: flex;
	align-self: stretch;
	margin-bottom: 0.5rem;
}

.chakra-slider-group .label {
	color: #222;
}

.chakra-slider-group .value {
	margin-left: auto;
	color: #222;
}

.chakra-slider-group .slider {
	touch-action: none;
	user-select: none;

	position: relative;

	display: inline-block;

	width: 100%;

	outline: 0;

	-webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

.chakra-slider-group .slider.vertical {
	height: 320px;
}

.chakra-slider-group .slider-track-container {
	cursor: pointer;
	position: relative;
	width: 100%;
	padding: 7px 0;
}

.chakra-slider-group .vertical .slider-track-container {
	width: fit-content;
	height: 100%;
	padding: 0 7px;
}

.chakra-slider-group .slider-track {
	width: 100%;
	height: 4px;
	background: rgb(0 0 0 / 11.4%);
	border-radius: 0.125rem;
}

.chakra-slider-group .vertical .slider-track {
	width: 4px;
	height: 100%;
}

.chakra-slider-group .slider-filled-track {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);

	height: 4px;

	background: #171717;
	border-radius: 0.125rem;
}

.chakra-slider-group .vertical .slider-filled-track {
	top: unset;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);

	width: 4px;
}

.chakra-slider-group .slider-thumb {
	position: absolute;
	z-index: 1;
	top: 50%;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.chakra-slider-group .vertical .slider-thumb {
	top: unset;
	left: 2px;
	flex-direction: row;
	align-items: center;
}

.chakra-slider-group .slider-thumb:focus-within {
	z-index: 10;
}

.chakra-slider-group .slider-thumb .slider-thumb-handle {
	touch-action: none;
	cursor: pointer;
	user-select: none;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 16px;
	height: 16px;

	background: #fff;
	border-radius: 9999px;
	box-shadow:
		0 0 1px rgb(0 0 0 / 40%),
		0 1px 2px rgb(0 0 0 / 15%);
}

.chakra-slider-group .slider-thumb-handle:focus-within {
	box-shadow: 0 0 0 2px #171717;
}

.chakra-slider-group .slider-thumb-tip {
	margin: 8px 0 0;
}

.chakra-slider-group .vertical .slider-thumb-tip {
	margin: 0 0 0 8px;
}

/* for icon dropdown */
.custom-select[aria-selected="true"] {
	@apply bg-custom-gray-7; /* Apply your desired styles here */
}

/* drag and drop */

.single-bookmark[aria-selected="true"] {
	color: white;
	background: #000;
}

.single-bookmark[aria-selected="true"] .card-title {
	color: white;
}

.single-bookmark[aria-selected="true"] .moodboard-card-img {
	border-bottom-right-radius: unset;
	border-bottom-left-radius: unset;
}

.drop-target .side-pane-anchor {
	background-color: #cbd5e1;
}

.drop-indicator {
	width: 100%;
	height: 2px;
	margin-bottom: -2px;
	margin-left: 0;

	background: transparent;
	outline: none;
}

.drop-indicator:last-child {
	margin-top: -2px;
	margin-bottom: 0;
}

.drop-indicator.drop-target {
	background: red;
}

/* signup-page */

.sign-up-parent {
	position: relative;

	/* background-image: url("/group-svg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left 0 top 0; */
}

.sign-up-parent::before {
	content: "";

	position: absolute;
	z-index: -10;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-image: url("/Group1.png");
	background-repeat: no-repeat;
	background-size: contain;
}

/* aria modal */
.secondary {
	color: currentcolor;
	background-color: transparent;
}

.secondary:hover {
	background-color: hsl(204deg 10% 10% / 5%);
}

.dark .secondary {
	background-color: transparent;
}

.dark .secondary:hover {
	/* background-color: hsl(204deg 20% 100% / 5%); */
}

[data-backdrop] {
	display: flex;
	align-items: center;
	justify-content: center;

	/* background-color: hsl(204deg 10% 10% / 10%); */

	/* backdrop-filter: blur(4px); */
}

.dark [data-backdrop] {
	background-color: hsl(204deg 10% 10% / 50%);
}

@media (width >= 768px) {
	[data-backdrop] {
		align-items: flex-start;
	}
}

[data-backdrop] {
	/* @apply bg-black opacity-50 */

	/* background: #00000045;; */
	@apply bg-modal-bg;
}

.dropdown-container input[type="radio"] {
	/* display: none; */
	position: absolute;
	opacity: 0;
}

.dropdown-container input[aria-checked="true"] + input::after {
	content: "";

	position: absolute;
	top: 50%;
	right: 8px;
	transform: translateY(-50%);

	width: 12px;
	height: 12px;

	background-image: url("/public/tickIcon.svg");
}

.search-bar__input:focus-visible {
	outline: none;
}

.aria-select-item[data-active-item] {
	color: #171717;
	background-color: #ededed;
}

.aria-checkbox:checked + .checkbox-div::before {
	content: "";

	position: absolute;
	z-index: 2;

	width: 100%;
	height: 100%;

	background-color: black;

	/* background: linear-gradient(180deg, #2e2e2e 0%, #242424 100%); */
	background-image: url("/checkbox-tick.svg");
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 4.5px;
}

.checkbox-div {
	margin-right: 12px;
	border: 1px solid black;
	border-radius: 4.5px;
}

input[type="checkbox"]:checked + .checkbox-div {
	border: none;
}

.icon-svg-parent svg {
	fill: currentcolor;
}

.icon-color-container::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

.sash-container .sash-module_sash__K-9lB {
	/* this is to solve the sidepane resize bar z-index issue */
	z-index: 5;
}

.card-player.video-react.video-react-fluid,
.video-react.video-react-16-9,
.video-react.video-react-4-3 {
	/* we are having important as in this video player library styles are added inline and we need to overide them */
	height: 194px !important;
	padding-top: 0 !important;
}

.video-react-video {
	border-radius: 8px;
}

.video-react-video:hover {
	border-bottom-right-radius: unset;
	border-bottom-left-radius: unset;
}

.aria-multi-select span {
	@apply hidden;
}

#modal-parent-portal div[role="presentation"] {
	/* adding this to have z-index in modal so that nothing overlaps the modal */

	/* adding important as the modal library does not give access to this div and the div already has z-index: auto so we are overriding it */
	@apply z-10 !important;
}
