/* Arial Fallback for inter-v */
@font-face {
	font-family: inter-v-fallback;
	font-display: swap;
	src: local("Arial");
	ascent-override: 90.6218%;
	descent-override: -22.5641%;
	line-gap-override: 0%;

	size-adjust: 106.9003%;
}

/* Inter V webfont subsets */

/* rest */
@font-face {
	font-family: inter-v;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url("/fonts/inter/inter-rest.woff2") format("woff2");
	unicode-range:
		U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F,
		U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116, U+1F00-1FFF,
		U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF,
		U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
		U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
		U+1EA0-1EF9, U+20AB, U+2B0-2BA, U+2BD-2C5, U+2C7-2D9, U+2DB, U+2DD-2FF,
		U+302, U+306, U+307, U+30A, U+30C, U+30F, U+313, U+315, U+31B, U+326-328,
		U+32C, U+337, U+338, U+342, U+343, U+346-36F, U+E3F, U+1D43, U+1D47-1D49,
		U+1D4D, U+1D4F, U+1D50, U+1D52, U+1D56-1D58, U+1D5B, U+1D62-1D65, U+1D9C,
		U+1DA0, U+1DBB, U+1DBF-1DF5, U+1DFC-1DFF, U+2070, U+2071, U+2075-208E,
		U+2090-209C, U+20DB-20DE, U+20E8, U+20F0, U+2100, U+2101, U+2103, U+2105,
		U+2106, U+2109, U+2117, U+211E-2121, U+2126, U+212A, U+212B, U+212E, U+2132,
		U+213B, U+214D, U+2150-217F, U+2183-2186, U+2189, U+2194-2199, U+21A9,
		U+21AA, U+21B0, U+21B1, U+21B3-21B5, U+21BA, U+21BB, U+21D0, U+21D2, U+21D4,
		U+21DE, U+21DF, U+21E4, U+21E5, U+21E7, U+21EA, U+2202, U+2205, U+2206,
		U+220F, U+2211, U+221A, U+221E, U+222B, U+2236, U+2248, U+2260, U+2264,
		U+2265, U+2295-2298, U+2303-2305, U+2318, U+2325-2327, U+232B, U+2380,
		U+2387, U+238B, U+23CE, U+23CF, U+2423, U+2460-2468, U+24B6-24CF, U+24EA,
		U+25A0-25A2, U+25AA, U+25B2, U+25B3, U+25B6, U+25B7, U+25BA-25BD, U+25C0,
		U+25C1, U+25C4-25C7, U+25CA, U+25CB, U+25CF, U+25E6, U+25EF, U+2600, U+2605,
		U+2606, U+263C, U+2661, U+2665, U+26A0, U+2713, U+2717, U+2756, U+2764,
		U+2780-2788, U+27EF, U+27F5-27FA, U+2913, U+2A38, U+2B06, U+2B12, U+2B13,
		U+2B1C, U+2B24, U+2E18, U+A92E, U+E000, U+E002-E05E, U+E06A-E094,
		U+E095-E0BD, U+E0C8-E0CC, U+E0D7-E0E6, U+E0F3-E0F5, U+E106, U+E109, U+E10A,
		U+E10C-E10F, U+E111-E113, U+E117, U+E118, U+E121, U+E122, U+E124,
		U+E12A-E15E, U+E163, U+E1C3, U+E1D2-E2DC, U+EE01-EE07, U+EE09-EEE1, U+F6C3,
		U+1F12F-1F149, U+1F16A, U+1F16B, U+1F850, U+1F852;
}

/* latin-ext */
@font-face {
	font-family: inter-v;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url("/fonts/inter/inter-latin-ext.woff2") format("woff2");
	unicode-range:
		U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
		U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB,
		U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: inter-v;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url("/fonts/inter/inter-latin.woff2") format("woff2");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
		U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
		U+2215, U+FEFF, U+FFFD;
}
