@font-face {
  font-family: "Inter V";
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/fonts/Inter-V.var.woff2") format("woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;