@font-face {
  font-family: "Inter V";
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/fonts/Inter-V.var.woff2") format("woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}

main {
  height: calc(100vh - 48.5px);
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: auto;
}

.my-masonry-grid_column:nth-child(1) {
  padding-left: 0px;
  width: 40% !important;
}

.my-masonry-grid_column:nth-child(2) {
  width: 30% !important;
}
.my-masonry-grid_column:nth-child(3) {
  width: 30% !important;
}


.my-masonry-grid_column {
  padding-left: 16px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 16px;
}

/* for side pane options menu being cut after it passed side pane width */
.allotment-module_splitView__L-yRc > .allotment-module_splitViewContainer__rQnVa > .allotment-module_splitViewView__MGZ6O {
  overflow: unset !important;
}