jobs:
  main:
    name: Validate PR title
    runs-on: ubuntu-latest
    steps:
      - env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        name: Validate PR title
        uses: amannn/action-semantic-pull-request@0723387faaf9b38adef4775cd42cfd5155ed6017 # v5.5.3

name: Semantic PR

on:
  pull_request_target:
    types:
      - edited
      - opened
      - synchronize

permissions:
  pull-requests: read
