jobs:
  sync-label:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          fetch-depth: 2

      - env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        name: Sync labels
        uses: micnncim/action-label-syncer@3abd5ab72fda571e69fffd97bd4e0033dd5f495c # v1
        with:
          manifest: .github/labels.yml

name: Sync labels

on:
  push:
    branches:
      - main
    paths:
      - .github/labels.yml

  workflow_dispatch: ~
